<ion-header [translucent]="true">
  <ion-toolbar color="azul">
    <ion-title>
      KauFlix
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>

      <ion-card-title>
        <img src="https://www.eluniverso.com/resizer/dIeWBB5pbcN1xMeRNPQD6CsumIs=/arc-anglerfish-arc2-prod-eluniverso/public/IRN2ZUZFANAXVNKJZL62RNJEB4.jpg" alt="">

            </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      Inteligente, criativa e determinada, Estella quer fazer um nome para si através de seus designs e
      acaba chamando a atenção da Baronesa Von Hellman. Entretanto, o relacionamento delas desencadeia
      um curso de eventos e revelações que fazem com que Estella abrace seu lado rebelde e se torne a
      Cruella, uma pessoa má, elegante e voltada para a vingança

    </ion-card-content>

  </ion-card>
</ion-content>
