
  ion-card-title{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;

  }

  ion-card-content{
    font-size: 13px;
    color: black;
    font-weight: 500;
    font-family:  Helvetica;
  }

