<ion-header [translucent]="true">
  <ion-toolbar color="azul">
    <ion-title>
      Kauflix
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>

      <ion-card-title>
        <img src="https://m.media-amazon.com/images/I/41hv25yqOCL.jpg" alt="">
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Red, White & Royal Blue é um romance LGBT de Casey McQuiston de 2019. O romance gira em torno do personagem Alex Claremont-Diaz, o primeiro filho dos Estados Unidos, e sua relação com o príncipe Henry, um príncipe britânico.
      <ion-note slot="end" color="light">R$3,50</ion-note>
    </ion-card-content>

  </ion-card>

</ion-content>
