<ion-header [translucent]="true">
  <ion-toolbar color="azul">
    <ion-title>
      Kauflix
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>

      <ion-card-title>
        <img src="https://m.media-amazon.com/images/I/41hv25yqOCL.jpg" alt="">
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Red, White & Royal Blue é um romance LGBT de Casey McQuiston de 2019. O romance gira em torno do personagem Alex Claremont-Diaz, o primeiro filho dos Estados Unidos, e sua relação com o príncipe Henry, um príncipe britânico.
      <ion-note slot="end" color="light">R$3,50</ion-note>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>O gato Preto</ion-card-title>
      <ion-card-title>
        <img src="https://images-na.ssl-images-amazon.com/images/I/91uiM+HLQeL.jpg" alt="">

            </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      O Gato preto foi um conto de um homem que adorava animais, ao decorrer do conto ele
      encontra uma mulher que também adora animais e vem a ser casar, convivem com diferente tipo de
      animais em sua casa, mas o mais preferido era um gato preto. Mas o dono sem maltratava o gato, em um dos seus ataques de fúria
       ele vem a arrancar um dos olhos do gato, mas não não satisfeito com seus atos ele vem a enforcar-lo nos fundos de casa.

      <ion-button  color="azul" expand="full"  slot="end">Comprar</ion-button>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Crepúsculo</ion-card-title>
      <ion-card-title>
        <img src="https://livrariascuritiba.vteximg.com.br/arquivos/ids/1958325/6ff00bbb5ae6cd15195b844027e812e0-removebg-preview.jpg?v=637484079847700000" alt="">

            </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Isabella Swan chega à nublada e chuvosa cidadezinha de Forks - último lugar onde gostaria de viver.
      Tenta se adaptar à vida provinciana na qual aparentemente todos se
      conhecem, lidar com sua constrangedora falta de coordenação motora e se habituar a morar com um pai com quem nunca conviveu.

      <ion-button  color="azul" expand="full"  slot="end">Comprar</ion-button>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>The 100</ion-card-title>
      <ion-card-title>
        <img src="https://i.pinimg.com/474x/ac/de/59/acde597d9c5982bf0973939d894bd6d7.jpg" alt="">

            </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      The 100 se passa num futuro pós-apocalíptico onde a Terra foi completamente dizimada por guerras nucleares e biológicas.
      Os humanos que conseguiram sobreviver a essa terrível guerra
      vivem em uma nave que fica na órbita da Terra.Uma missão que parece suicida pode ser a única opção dos seres humanos

      <ion-button  color="azul" expand="full"  slot="end">Comprar</ion-button>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>It a coisa</ion-card-title>
      <ion-card-title>
        <img src="https://photos.enjoei.com.br/livro-it-a-coisa/1200xN/czM6Ly9waG90b3MuZW5qb2VpLmNvbS5ici9wcm9kdWN0cy8yOTkzMjAvY2U5Y2EwOGFmMzY0ODQ3NjY1NzFiYjU3YTQ5MjJkM2MuanBn" alt="">

            </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Sinopse. Durante as férias escolares de 1958, em Derry, pacata cidadezinha do Maine,
      Bill, Richie, Stan, Mike, Eddie, Ben e Beverly aprenderam o real sentido da amizade, do amor, da confiança e… do medo.
      Quase trinta anos depois, os amigos voltam a se encontrar. Uma nova onda de terror tomou a pequena cidade

      <ion-button  color="azul" expand="full"  slot="end">Comprar</ion-button>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Corte de Espinhos e Rosas</ion-card-title>
      <ion-card-title>
        <img src="https://images-submarino.b2w.io/produtos/01/00/img/2449594/2/2449594216_1GG.jpg" alt="">

            </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Num mundo dividido uma muralha mágica separa duas espécies. De um lado, os feéricos
      vivem dentro de suas fronteiras cheias de beleza e mistério; do outro, os humanos possuem apenas medo, desconfiança e
       dificuldades. Feyre, filha de um casal de mercadores humanos e falidos, se torna caçadora para sustentar a família

      <ion-button  color="azul" expand="full"  slot="end">Comprar</ion-button>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>A Seleção</ion-card-title>
      <ion-card-title>
        <img src="https://a-static.mlcdn.com.br/618x463/box-livros-a-selecao-kiera-cass-com-brinde/magazineluiza/228192200/26667d3c8ef015926b71857e1beb635f.jpg" alt="">

            </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Para trinta e cinco raparigas, A Seleção é a oportunidade de uma vida. É a possibilidade de escaparem de um
      destino que lhes está traçado desde o nascimento, de se perderem num mundo de
      vestidos cintilantes e joias de valor inestimável e de viverem num palácio e competirem pelo coração do belo Príncipe Maxon.

      <ion-button  color="azul" expand="full"  slot="end">Comprar</ion-button>
    </ion-card-content>

  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>A Menina que Roubava Livros</ion-card-title>
      <ion-card-title>
        <img src="https://i.pinimg.com/originals/dd/54/54/dd54546953337121a774114cfa702074.jpg" alt="">

            </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Durante a Segunda Guerra Mundial, uma jovem garota chamada Liesel Meminger sobrevive
      fora de Munique lendo os livros que ela rouba. Ajudada por seu pai adotivo, ela aprende a ler
       e partilhar livros com seus amigos, incluindo um judeu que vive na clandestinidade em sua casa.
       Enquanto não está lendo ou estudando, ela faz algumas tarefas para a mãe e brinca com o amigo Rudy.
      Resultado de imagem para menina que roubava livros resumo


      <ion-button  color="azul" expand="full"  slot="end">Comprar</ion-button>
    </ion-card-content>

  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>O Conte de Monte Cristo</ion-card-title>
      <ion-card-title>
        <img src="https://images-na.ssl-images-amazon.com/images/I/51Y2bNAGs%2BL.jpg" alt="">

            </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      O Conde de Monte Cristo” tem como cenário a França nas primeiras décadas do século XIX, e narra a
       história de Edmond Dantes, um jovem humilde, porém feliz com o pouco que tinha. Edmond Dantes
       é um marinheiro que após meses viajando a bordo do Faraó retorna para reencontrar o pai e a noiva, Mercedes Herrera.

      <ion-button  color="azul" expand="full"  slot="end">Comprar</ion-button>
    </ion-card-content>

  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Um milhão de finais felizes</ion-card-title>
      <ion-card-title>
        <img src="https://1.bp.blogspot.com/-DnsS3Oq79ew/W9MW92oKlDI/AAAAAAAAWns/0RPt0pSsSDkctoM8Zn5vPya2dd43UmLNACLcBGAs/s1600/um%2Bmilhao%2Bde%2Bfinais%2Bfelizes3.jpg" alt="">

            </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Jonas não sabe muito bem o que fazer da vida. Entre suas leituras e ideias para livros anotadas em um
      caderninho de bolso, ele precisa dar conta de seus turnos no Rocket Café e ainda lidar com o
      conservadorismo de seus pais. Sua mãe alimenta a esperança de que ele volte a frequentar a
      igreja, e seu pai não faz muito por ele além de trazer problemas.
      Mas é quando conhece Arthur, um belo garoto de barba ruiva, que Jonas
       passa a questionar por quanto tempo conseguirá viver sob as expectativas de seus pais, fingindo
       ser uma pessoa diferente de quem é de verdade.

      <ion-button  color="azul" expand="full"  slot="end">Comprar</ion-button>
    </ion-card-content>

  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Quinze Dias</ion-card-title>
      <ion-card-title>
        <img src="https://images-na.ssl-images-amazon.com/images/I/41qFpw3xhwL._SX342_SY445_QL70_ML2_.jpg" alt="">

            </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Felipe não vê a hora das férias de verão chegarem, para poder fugir do ambiente escolar e do alcance
      daqueles que veem nele um alvo. O que mais deseja é tirar seu tempo sozinho, já que amigos também não são o
      seu forte, assistir séries e ver vídeos no youtube sobre coisas diversas.
    Porém, sua mãe esqueceu de lhe avisar de algo muito importante: ela aceitou hospedar Caio, o
    vizinho do 57, pelos quinze dias em que sua família vai estar viajando e, acabando assim com os
    planos de solidão e relaxamento do garoto.

      <ion-button  color="azul" expand="full"  slot="end">Comprar</ion-button>
    </ion-card-content>

  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>O cortiço</ion-card-title>
      <ion-card-title>
        <img src="https://livraria.camara.leg.br/image/cache/catalog/capas/livraria_o-Corti%C3%A7o-368x533.jpg" alt="">

            </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      O livro narra inicialmente a saga de João Romão rumo ao enriquecimento. Para acumular capital,
      ele explora os empregados e se utiliza até do furto para conseguir atingir seus objetivos. João Romão
       é o dono do cortiço, da taverna e da pedreira. Sua amante, Bertoleza, o ajuda de domingo a domingo, trabalhando sem descanso.

      <ion-button  color="azul" expand="full"  slot="end">Comprar</ion-button>
    </ion-card-content>

  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Revolução dos Bichos</ion-card-title>
      <ion-card-title>
        <img src="https://a-static.mlcdn.com.br/618x463/kit-livros-george-orwell-a-revolucao-dos-bichos-1984/magazineluiza/229234100/edf94e2f8be2cd06dc5b727ed8b3afd6.jpg" alt="">

            </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      A Revolução dos Bichos, de George Orwell, se passa numa granja liderada, inicialmente, pelo Sr. Jones. Porém,
      insatisfeitos com a dominação e exploração e liderados pelo Porco Major,
       os animais decidem fazer uma revolução.Dessa forma, os porcos aprenderam a
       ler e escrever e tornam-se os líderes da granja.

      <ion-button  color="azul" expand="full"  slot="end">Comprar</ion-button>
    </ion-card-content>

  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Dom Casmurro</ion-card-title>
      <ion-card-title>
        <img src="https://images-na.ssl-images-amazon.com/images/I/51PjgRe58sL._SX352_BO1,204,203,200_.jpg" alt="">

            </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      O tema central de Dom Casmurro é o ciúme e a tragédia conjugal de Bentinho. A começar pela citação dos imperadores César,
      Augusto, Nero e Massinissa, que mataram
      suas esposas acusadas de adultério, até a citação shakespeariana do mouro Otelo que matou sua mulher pelo mesmo motivo.

      <ion-button  color="azul" expand="full"  slot="end">Comprar</ion-button>
    </ion-card-content>

  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Vidas Secas</ion-card-title>
      <ion-card-title>
        <img src="https://img.travessa.com.br/livro/GR/c8/c85a374a-8ae7-4be7-b628-dd8a7f490a5b.jpg" alt="">

            </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Vidas Secas é uma obra regionalista que retrata a vida miserável de uma família de retirantes sertanejos
      obrigada a se deslocar de tempos fugindo da seca. Para transmitir essa ideia da seca sertaneja, Graciliano
      Ramos usa uma linguagem bem direta, com escassas adjetivações.
       A obra é cíclica, representando a constante mudança da família de Fabiano atrás de um lugar menos castigado pela aridez.

      <ion-button  color="azul" expand="full"  slot="end">Comprar</ion-button>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Harry Potter</ion-card-title>
      <ion-card-title>
        <img src="https://http2.mlstatic.com/D_NQ_NP_780547-MLB45856153683_052021-O.jpg" alt="">

            </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Harry Potter vive com os tios Dursley, onde é mal tratado até completar seus 11 anos. É com essa idade que o
       jovem bruxo começa a receber cartas da escola de Hogwarts.
      Harry é apresentado ao mundo dos bruxos e descobre que é muito famoso por ter sobrevivido ao ataque de Voldemort.

      <ion-button  color="azul" expand="full"  slot="end">Comprar</ion-button>
    </ion-card-content>

  </ion-card>


</ion-content>
